@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">BugZapperDemo</h1>
        <h4>A bug tracking website for storing, evaluating, and fixing bugs with your team.</h4>
        <hr />
        <img src="https://i.pinimg.com/originals/3b/5c/20/3b5c20c5c3429cc86e0a4834ff7c7b9f.png" width="350" alt="Lightning Bolt" />     
    </div>

