
@{
    ViewData["Title"] = "Create Bug";
}

<h1 class="display-4">Create a Bug</h1>

<body>
    <div class="wrap-login100 p-l-85 p-r-85 p-t-85 p-b-55 bg-light">
        <div class="container-login100 align-middle ">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <form class="login100-form validate-form flex-sb flex-w pb-2">

                    <div class="wrap-input100 validate-input m-b-36 align-middle pb-3 p-2" data-validate="Username is required">
                        <input class="input100" placeholder="BugID" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-36 align-middle pb-3 p-2" data-validate="Username is required">
                        <input class="input100" placeholder="Status" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-36 align-middle pb-3 p-2" data-validate="Username is required">
                        <input class="input100" placeholder="Info" type="text" name="username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-12 pb-2 p-2" data-validate="Password is required">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" placeholder="Date" type="password" name="pass">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn pt-2 p-2">
                        <button class="login100-form-btn btn btn-outline-primary" asp-area="" asp-controller="Bugs" asp-action="ListBugs">
                            Cancel
                        </button>
                        <button class="login100-form-btn btn btn-primary p-2" asp-area="" asp-controller="Bugs" asp-action="ListBugs">
                            Submit Bug
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>