@model BugZapper.Models.BugsModel


@{
    ViewData["Title"] = "Edit a Bug";
}

<h1>Edit a Bug</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" id="guid" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BugID" class="control-label"></label>
                <input asp-for="BugID" class="form-control" />
                <span asp-validation-for="BugID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info" class="control-label"></label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" asp-controller="Bugs" asp-action="Edit" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="ListBugs" class="btn btn-outline-info">Back to List</a>
</div>

<script>

    var gid = getUrlVars()["GID"];
    document.getElementById("guid").innerHTML = gid;

    function getUrlVars() {
        var vars = {};
        var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
            vars[key] = value;
        });
        return vars;
    }

</script>

@*<script>

    function initInput() {
        var variable = gid;
        document.forms[0].IDBox.value = variable;
    }

</script>*@

