<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugZapper</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/BugzappeFavicon_16x16.ico" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">BugZapper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--Top Navbar Left pushed buttons-->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light border-left" asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Bugs" asp-action="ListBugs">Bugs</a>
                        </li>
                    </ul>
                </div>

                <!--Top Navbar Right pushed buttons-->
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item float-right">
                            <a class="nav-link text-light"> Login as User</a>
                        </li>
                        <li class="nav-item float-right">
                            <a class="nav-link text-light" asp-area="" asp-controller="Login" asp-action="LoginPage">Login</a>
                        </li>
                        <li class="nav-item float-right">
                            <a class="nav-link text-light btn btn-primary" asp-area="" asp-controller="Login" asp-action="SignUp">Sign up </a>
                        </li>
                        <li class="nav-item float-right">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <!-- Sidebar -->
            <div class="col-12 col-md-2 col-sm-3 d-none d-md-block p-0 pr-3 bd-sidebar">
                <!--<div class="sidebar-heading p-3">Start Bootstrap </div>-->
                <div class="list-group list-group-flush">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action">Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="Dashboard" class="list-group-item list-group-item-action">Dashboard</a>
                    <a asp-area="" asp-controller="Home" asp-action="Profile" class="list-group-item list-group-item-action">Profile</a>
                </div>
            </div>
            <!-- End of sidebar -->
            <main role="main" class="col-12 col-md-9 py-md-3 pl-md-5 bd-content">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2020 - BugZapper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
